* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container3{
    display: flex;
    background-color: #1f1f1f;
    justify-content: center;
    height: 32rem;
}
#boxvideobottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    width: 125rem;
}
#boxvideobottom > button {
    width: 8rem;
    height: 3rem;
    background-color: #1f1f1f;
    color: white;
    border-radius: 20px;
    border: 1px solid grey;
}
#boxvideobottom > button:hover{
    cursor: pointer;
    background-color: #464646;
}

#boxvideobottom > div > p {
    width: 100%;
    color: white;
    margin-top: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    border-top: 1px solid grey;
}
#boxvideobottom > div > p > a {
    text-decoration: none;
    color: #647aec;
}
#boxvideobottom > div > p > a:hover {
    text-decoration-line: underline;
    color: #647aec;
}
.white, .whitegrey{
    color: white;
}
.whitegrey:hover{
    color: grey;
    text-decoration:none;
}
.white:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
}
.storedby{
    color: #a6a6a6;
}
.box1container3 {
    width: 60%;
}
.box2container3{
    width: 40%;
    height: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 2rem;
}

#favorites{
    background-color: #464646;
    color: white;
    width: 80%;
    text-align: start;
    padding-left: 1rem;
    margin-right: 0.2rem;
}
.box2container3 > button {
    background-color: #464646;
    width: 8%;
    border-radius: 3px;
    height: 4rem;
    border: none;
    color: white;
}
#favorites:hover, .box2container3 > button:hover{
    background-color: #6c6c6c;
    cursor: pointer;
}
#Metascore{
    text-align: end;
    font-size: 1.7rem;
}
#Metascore >span > a {
    text-decoration: none;
    color: #647aec;
    margin-right: 1rem;
}
#Metascore >span > a:hover {
    text-decoration-line: underline;
}